[submodule "cmake"]
	path = cmake
	url = https://github.com/dnasdw/libsundaowen_cmake.git
[submodule "dep/libsundaowen"]
	path = dep/libsundaowen
	url = https://github.com/dnasdw/libsundaowen_src.git
[submodule "dep/openssl"]
	path = dep/openssl
	url = https://github.com/dnasdw/libsundaowen_openssl.git
[submodule "dep/curl"]
	path = dep/curl
	url = https://github.com/dnasdw/libsundaowen_curl_with_openssl.git
[submodule "dep/rapidjson"]
	path = dep/rapidjson
	url = https://github.com/dnasdw/libsundaowen_rapidjson.git
